.animation1{
    height: 50vh;
    width: 30vw;
}
@media screen and (max-width:1200px)
{
    .animation1{
        height: 50vh;
        width: 40vw;
    } 
}
@media screen and (max-width:950px)
{
    .animation1{
        height: 50vh;
        width: 50vw;
    } 
}