*{
    padding: 0;
    margin: 0;
    
}
.animation{
    display: flex;
    justify-content: center;
    padding-top: 8vh;
}
body{
    z-index: -100;
    background: #0D0E27;
    /* padding-top: 5vh;         */

}
.bg1{
    position: relative;
    width: 100%;
    z-index: 3;
    /* display: flex;
    justify-content: center; */
}
.Topbg{
    position: absolute;
    top: 0px;
    z-index: -3;
    width: 100%;
    opacity: 0.4000000059604645;
    height: 145vh; 
    
}
.full{
    position: relative;
    width: 100%;
    z-index: 1;
    /* display: flex;
    justify-content: center; */
}
.Topbg1{
    position: absolute;
    top: 0px;
    z-index: -1;
    width: 100%;
    opacity: 1;
    height: 145vh;
}
.box{
    margin: 0 auto;
    width: 848px;
    height: 432px;
    background-color: white;
    color: #000000;
    text-align: center;
}
.RTP{
    text-align: center;
    color: #E1E1F5;
    
    /* margin-top: 20vh; */
}
.RT{
    color: var(--white, #E1E1F5);
    text-align: center;
    font-size: 85px;
    font-family: Azonix;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5vh;
}
#line{
    background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    border: 1px solid #ffffff;
    width: 503px;
}
.line{
    display: flex;
    justify-content: center;
}

#para{
    display: flex;  
    flex-direction: column;
    color: var(--white, #E1E1F5);
    text-align: center;
    font-size: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.800000011920929;
    padding-left: 18vw;
    padding-right: 18vw;
    
}

#telescope
{
    text-align: center;
    margin-top: 20vh;
}
.head{
    color: var(--primary, #1F75DB);
    font-size: 81px;
    font-family: Azonix;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#line1{
    background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    border: 1px solid #1F75DB;
    width: 614px;
    margin-bottom: 15vh;
}
#mini{
    display: flex;
    justify-content: space-around;
    margin-top: 5vh;
}
.top
{
    color: #FFF;
    font-size: 40px;
    font-family: Azonix;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 6vh;
}
.miniLeft{
    /* background-color: #0D0E27; */
    margin-left: 6vw;
}
.miniRight{
    display: inline-block;
    margin-left: 4vw;
    margin-right: 8vw;
    text-align: right;

}
.border{
    width: 280px;
    height: 360px;
    border-radius: 37.838px;
    border: none !important;
    
}
.mid{
    color: #FFF;
    text-align: justify;
    font-size: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.8px;
    }  

.mid:first-letter{
    font-size: 60px;
    color: #FFF;
}
.read{
    height: 48px;        
    width: 177px;
    border-radius: 5px;
    border: 1px solid var(--primary, #1F75DB);
    color: #FFF;
    font-size: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    background-color: #0D0E27;
    margin-top: 3.5vh;

}

#small{
    margin-top: 12vh;
    display: flex;
    justify-content: space-around;
}
#large{
    margin-top: 12vh;
    display: flex;
    justify-content: space-around;
}
img  
{  
border: none;  
} 
.last{
 margin-bottom: 2vh;   
}


@media screen and (max-width: 1000px)
{
    .Topbg, .Topbg1{
        height: 150vh;
    }
    .RT{
      font-size: 70px;  
    }
    /* .animation{
        width: 20vh;

    } */
}
@media screen and (max-width: 900px)
{
    .Topbg, .Topbg1{
        height: 160vh;
    }
    .top{
        font-size: 35px;
    }
    /* .animation{
        width: 20vh;

    } */
}